env
experiments/best_weights
experiments/last_weights
experiments/eval_summaries
experiments/train_summaries
experiments/train.log
model/__pycache__
model/.ipynb_checkpoints
data/processedFiles
input_batch.csv
labels.csv
meanAcc.csv
predicted_outputs.csv
tf1
